<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>todo Admin</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
      <link href="/static/main.css" rel="stylesheet">
      <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
      <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
    <style>
        .navbar {
            background-color :#3097D1 !important;
            border-radius: 0;
        }

        .navbar-default .navbar-nav>li>a {
            color:floralwhite;
        }

        .logo img{
            display:inline-block;
            max-width: 85px;
        }

    </style>
  </head>
  <body>
    {{ template "header" . }}
    {{ template "content" . }}
    {{ template "footer" . }}
    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.4.1/Youtube.min.js"></script>

  </body>
</html>
